<template>
  	<h3>${title}</h3>
  	<div class="table-responsive">
	  <table class="table table-bordered">
	  	<tr repeat.for="row of tableData">
	  		<td repeat.for="col of row">${col}</td>
	  	</tr>
	  </table>
	</div>
</template>
